@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .car-list {
    @apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 py-8
  }
  .car-container {
    @apply mx-auto border border-gray-300  rounded-lg max-w-md
  }
  .car-section {
    @apply grid grid-cols-2 gap-2 mx-4 text-gray-700 mt-2
  }
}